h1, h2 {
  font-family: Arial;
  color: grey;
}

h1 {
  border-bottom: 1px solid black;
}

p {
  color: maroon;
}

p .cname {
  color: blue;
}

p #iname {
  color: green;
}

body{
	background-color: #0F0;
}